/* src/components/common/UserAvatar.css */

.user-avatar {
    min-width:24px;
    min-height:24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    overflow: hidden;
    user-select: none;
  }
  
  .user-avatar-small {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  
  .user-avatar-medium {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }
  
  .user-avatar-large {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  
