/* src/components/layout/Layout.css */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(rgb(255, 241, 214),white);
  overflow: hidden; /* Prevent page scroll */
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent sidebar overflow */
  padding-top: 48px; /* below navbar */
}

.sidebar-container {
  width: 240px;
  flex-shrink: 0;
  overflow-y: auto;
}

.main-content {
  flex-grow: 1;
  margin: auto;
  margin-right:8px;
  background-color: white;
  border-radius: 24px;
  padding: 32px;
  height: 86%; /* subtract navbar and some margin */
  overflow-y: auto;
  box-shadow: 0 4px 12px rgb(255 176 0 / 20%);
  border: 0.5px solid rgb(238, 238, 238);
}
