/* src/components/layout/Sidebar.css */
.sidebar {
    font-size:14px;
    font-weight:450;
    width: 180px;
    position:fixed;
    padding: 1rem;
    height: 100vh; /* Full height */
  }
  
  .sidebar-nav {
    margin-bottom: 2rem;
    list-style:none;

  }
  
  ul{
    padding:0;
  }
  .sidebar-item {
    list-style:none;
    padding:0;
    padding: 8px;

  }

  .sidebar-item:hover {
    background-color:#fffaeb;
    border-radius:8px;
    transition: ease-in 1s;

  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;

  }
  
  .sidebar-link:hover {
    color: #000;
  }
  
  .sidebar-link svg {
    margin-right: 0.5rem;
  }
  
  .sidebar-section {
    margin-bottom: 1.5rem;
  }
  
  .sidebar-heading {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:rgb(145, 145, 145);
  }

  svg{
    color:rgb(188, 188, 188);
  }
  
  .sidebar-create-btn{
padding: 8px 8px 8px 8px;
background-color:rgb(255, 228, 176);
border-radius:8px;
color:black;
font-weight:600;
  }

  .sidebar-create-btn:hover{
    background-color:#ffbb00;
    transition: ease-in 1s;
      }
    
  