/* src/components/layout/Sidebar.css */
.sidebar {
    font-size:14px;
    margin-top:48px;
    width: 250px;
    position:fixed;
    padding: 1rem;
    height: 100vh; /* Full height */
  }
  
  .sidebar-nav {
    margin-bottom: 2rem;
    list-style:none;

  }
  
  ul{
    padding:0;
  }
  .sidebar-item {
    list-style:none;
    height:40px;
    padding:0;

  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;

  }
  
  .sidebar-link:hover {
    color: #000;
  }
  
  .sidebar-link svg {
    margin-right: 0.5rem;
  }
  
  .sidebar-section {
    margin-bottom: 1.5rem;
  }
  
  .sidebar-heading {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }